name: Testing Workflow

on:

  workflow_dispatch:
    inputs:
      # version:
      #   description: 'Repo Tag Name (Ex.: yyyymmdd-hhmmss)'
      #   type: string
      #   required: true
      environment:
        description: 'test'
        type: string
        required: true

jobs:

  DEXSIT-backup:
    if: inputs.environment == 'test'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Upload to AWS S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.DEVOPS_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DEVOPS_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          BUCKET_NAME: s3://bucket-test-777/backup-db/
        run: |
          aws s3 cp test.txt $BUCKET_NAME

      - name: Generate S3 Object URL
        uses: anton-yurchenko/s3-pre-signed-url@v1
        id: s3
        with:
          access_key: ${{ secrets.DEVOPS_AWS_ACCESS_KEY_ID }}
          secret_access_key: ${{ secrets.DEVOPS_AWS_SECRET_ACCESS_KEY }}
          bucket: s3://bucket-test-777/backup-db/
          path: ./test.txt
          
      - run: echo ${{ steps.s3.outputs.url }}
        
      # - run: |
      #     DOWNLOAD_URL=$(aws s3 presign s3://bucket-test-777/backup-db/test.txt --expires-in 3600 --region ap-southeast-1)
      #     echo "DOWNLOAD_URL=$DOWNLOAD_URL" >> $GITHUB_ENV

      # - name: Echo S3 Object URL
      #   run: |
      #     echo "Download link for the uploaded object: $DOWNLOAD_URL"
