name: UAT Backup MySQL Database

on:

  workflow_dispatch:
    inputs:
      # version:
      #   description: 'Repo Tag Name (Ex.: yyyymmdd-hhmmss)'
      #   type: string
      #   required: true
      # environment:
      #   description: 'uat/sit'
      #   type: string
      #   required: true
      name:
        description: 'short name'
        type: string
        required: true
      email:
        description: 'example@regovtech.com'
        type: string
        required: true

jobs:

  Send-Email-Devops:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Print Triggered Workflow Link
        run: |
          WORKFLOW_LINK="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          echo "WORKFLOW_LINK=$WORKFLOW_LINK" >> $GITHUB_ENV
          echo "your $WORKFLOW_LINK"
          
      - name: Send Triggered Notification to DevOps
        env:
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }} 
          #devops email
          RECEIVER_EMAIL_TWO: ${{ secrets.RECEIVER_EMAIL_TWO }} 
          #devops email
          REQUESTED_USER: ${{ github.event.inputs.name }}
          PASSWORD_EMAIL: ${{ secrets.PASSWORD_EMAIL }}
          ENV: "UAT"
        run: |
          python -m pip install --upgrade pip
          pip install pipenv 
          pipenv install
          pwd
          pipenv run python src/send-email.py

  UAT-backup:
    runs-on: ubuntu-latest
    environment:
      name: try

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create UATDB Database Dump
        env:
          UAT_DB_USER: ${{ secrets.UAT_DB_USER }}
          UAT_DB_PASSWORD: ${{ secrets.UAT_DB_PASSWORD }} 
          UAT_DB_HOST: ${{ secrets.UAT_DB_HOST }} 
          UAT_DB_NAME: ${{ secrets.UAT_DB_NAME }}
        run: |
          TIMESTAMP=$(date +"%Y%m%d%H%M%S")
          UAT_LOCAL_DUMP_FILE="dump-127.0.0.1-uat-${TIMESTAMP}.sql"
          mysqldump -h $UAT_DB_HOST -u $UAT_DB_USER -p$UAT_DB_PASSWORD $UAT_DB_NAME > $UAT_LOCAL_DUMP_FILE
          echo "UAT_LOCAL_DUMP_FILE=$UAT_LOCAL_DUMP_FILE" >> $GITHUB_ENV
      
      - name: Create DEXUAT DB Database Dump
        env:
          DEX_UAT_DB_USER: ${{ secrets.DEX_UAT_DB_USER }}
          DEX_UAT_DB_PASSWORD: ${{ secrets.DEX_UAT_DB_PASSWORD }} 
          DEX_UAT_DB_HOST: ${{ secrets.DEX_UAT_DB_HOST }} 
          DEX_UAT_DB_NAME: ${{ secrets.DEX_UAT_DB_NAME }}
        run: |
          TIMESTAMP=$(date +"%Y%m%d%H%M%S")
          DEXUAT_LOCAL_DUMP_FILE="dump-127.0.0.1-dexuat-${TIMESTAMP}.sql"
          mysqldump -h $DEX_UAT_DB_HOST -u $DEX_UAT_DB_USER -p$DEX_UAT_DB_PASSWORD $DEX_UAT_DB_NAME > $DEXUAT_LOCAL_DUMP_FILE
          echo "DEXUAT_LOCAL_DUMP_FILE=$DEXUAT_LOCAL_DUMP_FILE" >> $GITHUB_ENV
      
      - name: Check Both UAT DB
        run: |
          echo ${{ env.DEXUAT_LOCAL_DUMP_FILE }}
          echo ${{ env.UAT_LOCAL_DUMP_FILE }}

      - name: Compressing The Dumps
        run: |
          TIMESTAMP=$(date +"%Y%m%d%H%M%S")
          ZIP_FILE="dumps-uat-${TIMESTAMP}.zip"
          zip -r $ZIP_FILE $UAT_LOCAL_DUMP_FILE $DEXUAT_LOCAL_DUMP_FILE
          echo "ZIP_FILE=$ZIP_FILE" >> $GITHUB_ENV

      - name: Check ZIP FILE
        run: |
          echo ${{ env.ZIP_FILE }}

      - name: Create Backup File Artifacts
        id: 'create_artifacts'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ZIP_FILE }}
          path: ${{ env.ZIP_FILE }}

      - name: Upload Backup to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          UAT_BUCKET_NAME: ${{ secrets.UAT_BUCKET }}
        run: |
          aws s3 cp ${{ env.ZIP_FILE }} $UAT_BUCKET_NAME
          S3_URI="$SIT_BUCKET_NAME${{ env.ZIP_FILE }}"
          echo "S3_URI=$S3_URI" >> $GITHUB_ENV
          echo "Uploaded backup to S3: $S3_URI"
          
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
          
      - name: Send Email S3
        env:
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          RECEIVER_EMAIL: ${{ github.event.inputs.email }}
          PASSWORD_EMAIL: ${{ secrets.PASSWORD_EMAIL }}
          S3_URI: ${{ env.S3_URI }}
          ENV: "UAT"
        run: |
          python -m pip install --upgrade pip
          pip install pipenv 
          pipenv install
          pwd
          pipenv run python src/send-bucket.py

